
header {
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #60a9ba;
    margin: 0;
}

p {
    margin: 0; /* Remove margin from all elements in the header */
}

.headline {
    font-weight: 900;
    font-size: 1.08rem;
    letter-spacing: 0.2rem;
    line-height: 1.1;
}

.subtext {
    margin: 0;
    font-weight: 550;
    font-size: 0.55rem;
    color: #FFF;
    letter-spacing: 0.495rem;
    line-height: 1.35;
}

.services {
    font-size: 0.6rem;
    font-weight: 550;
    color: #60a9ba;
    letter-spacing: 0.034rem;
    line-height: 1.3
}

.highlight {
    color: #FFF;
}

.dark {
    color: #60a9ba;
}