<section class="home-layout">
  <figure>
    <img src="./assets/home.jpg" alt="Banner" class="home-img" />
  </figure>

  <article class="dates">
    <h1>Herzlich Willkommen!</h1>

    <h3>AKTUELLE TERMINE:</h3>

    <h3>Tragetreff</h3>
    <ul>
      <li>01.06.2026 09:00–10:30 Uhr<mat-icon class="date-icon">event</mat-icon></li>
    </ul>
    <a class="buchung-link" href="https://kikudoo.com/susanne-schauer/courses/E797qW" target="_blank" rel="noopener noreferrer">
      <mat-icon>arrow_forward</mat-icon>Buchung
    </a>

    <h3>Ernährungssprechstunde im Familienzentrum Itzehoe</h3>
    <ul>
      <li>01.06.2026 10:45–12:15 Uhr<mat-icon class="date-icon">event</mat-icon></li>
    </ul>
    <a class="buchung-link" href="https://fbsitzehoe.de" target="_blank" rel="noopener noreferrer">
      <mat-icon>arrow_forward</mat-icon>Buchung
    </a>
  </article>

  <section class="in-work">
    <p class="page-in-work">
      <mat-icon class="page-in-work__icon" aria-hidden="true">info</mat-icon>
      Alle Seiten werden im Moment bearbeitet. Bitte noch um etwas Geduld.
      Meine Kontaktdaten findet Ihr unter „Kontakt".
    </p>
    <p class="page-in-work">
      <mat-icon class="page-in-work__icon" aria-hidden="true">info</mat-icon>
      <span>Hier ist der Link zu meiner alten <a href="https://trageberatung-itzehoe.jimdoweb.com/" target="_blank" rel="noopener noreferrer">Seite</a></span>
    </p>
  </section>
</section>
