.home-layout {
  padding-bottom: 18px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  figure {
    flex: 2;
    margin: 0;
  }

  article {
    flex: 1;
  }
}

.home-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.page-in-work {
  display: flex;
  align-items: flex-start;
  background-color: #f5f7fa;
  border-left: 4px solid #367714;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 4px;
  color: #333;
  line-height: 1.5;
  margin: 0 1rem;
}

.page-in-work__icon {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.75em;
  fill: #357714;
}