<mat-toolbar color="primary">

    <img id="logo" src="../../../favicon.gif" routerLink="/" routerLinkActive="active-link">

    <app-header-logo></app-header-logo>

    <span class="example-spacer"></span>

    <ng-container *ngIf="linksVisible">
        <!-- STILLBEGLEITUNG menu trigger -->
        <button mat-button class="top-menu-item lato-black" [routerLink]="['/stillbegleitung']"
            routerLinkActive="active-link" aria-haspopup="true" aria-label="Stillbegleitung menu"
            [matMenuTriggerFor]="stillMenu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">
            <mat-icon class="custom-icon">
                <img src="../../../assets/breastfeeding.png" alt="Breastfeeding Icon">
            </mat-icon>
            STILLBEGLEITUNG
        </button>

        <!-- Sub‐menu -->
        <mat-menu #stillMenu="matMenu" (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item routerLink="/stillbegleitung/stillwissen" routerLinkActive="active-link">
                <mat-icon>school</mat-icon>
                <span class="lato-black">Stillwissen</span>
            </button>
            <!-- other submenu items... -->
        </mat-menu>

        <a mat-button class="top-menu-item lato-black" routerLink="/beikost" routerLinkActive="active-link">
            <mat-icon class="custom-icon">
                <img src="../../../assets/feeding.png" alt="Feeding Icon">
            </mat-icon>
            BABYGELEITETE BEIKOST
        </a>
        <a mat-button class="top-menu-item lato-black" routerLink="/trageberatung" routerLinkActive="active-link">
            <mat-icon class="custom-icon">
                <img src="../../../assets/baby-carrier.png" alt="Carrier Icon">
            </mat-icon>
            TRAGEBERATUNG
        </a>
    </ng-container>

    <button mat-icon-button (click)="toggleMenu()" id="menuIcon" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>

<xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <mat-icon *ngIf="info">{{ info }}</mat-icon>
        <ng-container *ngIf="!first">{{ breadcrumb }}</ng-container>
    </ng-container>
</xng-breadcrumb>

<router-outlet></router-outlet>