<h2>Impressum</h2>
<p>
  Susanne Schauer<br>
  Elbeblick 5<br>
  25524 Itzehoe
</p>

<p>
  Telefon: 04821 - 4093719<br>
  E-Mail: <a href="mailto:info&#64;susanneschauer.de">info&#64;susanneschauer.de</a>
</p>

<p>
  <strong>Umsatzsteuer-ID:</strong><br>
  Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz:<br>
  18/178/01308
</p>

<h2>Hinweis gemäß Online-Streitbeilegungs-Verordnung</h2>
<p>
  Nach geltendem Recht sind wir verpflichtet, Verbraucher auf die Existenz der Europäischen
  Online-Streitbeilegungs-Plattform hinzuweisen, die für die Beilegung von Streitigkeiten genutzt
  werden kann, ohne dass ein Gericht eingeschaltet werden muss. Für die Einrichtung der Plattform ist
  die Europäische Kommission zuständig. Die Europäische Online-Streitbeilegungs-Plattform ist hier zu
  finden: <a href="http://ec.europa.eu/odr" target="_blank" rel="nofollow">http://ec.europa.eu/odr</a>.
  Unsere E-Mail lautet: <a href="mailto:info&#64;susanneschauer.de">info&#64;susanneschauer.de</a>
</p>

<p>
  Wir weisen aber darauf hin, dass wir nicht bereit sind, uns am Streitbeilegungsverfahren im Rahmen
  der Europäischen Online-Streitbeilegungs-Plattform zu beteiligen. Nutzen Sie zur Kontaktaufnahme
  bitte unsere obige E-Mail und Telefonnummer.
</p>

<h2>Disclaimer – rechtliche Hinweise</h2>

<h3>§ 1 Warnhinweis zu Inhalten</h3>
<p>
  Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt erstellt.
  Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die Richtigkeit und Aktualität der
  bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und Nachrichten.
  Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung
  des Anbieters wieder. Allein durch den Aufruf der kostenlosen und frei zugänglichen Inhalte kommt keinerlei
  Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande, insoweit fehlt es am Rechtsbindungswillen
  des Anbieters.
</p>

<h3>§ 2 Externe Links</h3>
<p>
  Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber.
  Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen.
  Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich.
</p>
<p>
  Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von
  externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht.
</p>
<p>
  Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von
  Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
</p>
