<!-- contact.component.html -->
<h1>Kontakt</h1>

<section class="contact-section">
  <form class="visme_d" data-title="Kontaktformular" data-url="dworgg1k-kontaktformular" data-domain="forms"
    data-full-page="false" data-min-height="600px" data-form-id="142658">
  </form>
  <p>
    Du erreichst mich auch direkt per E-Mail oder Telefon.<br />
    📧 <a href="mailto:info&#64;susanneschauer.de">info&#64;susanneschauer.de</a><br />
    ☎️ <a href="tel:+491234567890">Tel.: 04821/4093719</a><br /><br />
    Ich freue mich darauf, von Dir zu hören!
  </p>
</section>