h1 {
  text-align: center;
  margin-bottom: 16px;
}

/* Full-width section, tall enough to push the footer down */
.contact-section {  
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: large;
}
