<mat-sidenav-container>

    <mat-sidenav class="sidenav" #sidenav mode="over" [opened]="false" [fixedInViewport]="true" disableClose="false">
        <header class="sidenav-header">
            <div class="sidenav-header-row">
                <img id="logo" src="favicon.gif" routerLink="/" routerLinkActive="active-link" alt="Logo">
                <button mat-icon-button (click)="sidenav.close()" aria-label="Zurück zum Inhalt">
                    <mat-icon class="btn-back">arrow_back</mat-icon>
                </button>
            </div>
            <h1 class="side-title">Menü</h1>
        </header>
        <mat-accordion class="side-nav">
            <!-- Wer ich bin -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Wer ich bin</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let sub of navLinks[0].children">
                    <p mat-button (click)="sidenav.close(); router.navigate([sub.route])">
                        <span class="lato-menu-text">{{ sub.title }}</span>
                    </p>
                </ng-container>
            </mat-expansion-panel>

            <!-- Was ich mache -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Was ich mache</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let sub of navLinks[1].children">
                    <p mat-button (click)="sidenav.close(); router.navigate([sub.route])">
                        <span class="lato-menu-text">{{ sub.title }}</span>
                    </p>
                </ng-container>
            </mat-expansion-panel>

            <!-- Kontakt -->
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>Kontakt</mat-panel-title>
                </mat-expansion-panel-header>
                <p><strong>Stillbegleitung Susanne Schauer</strong></p>
                <p>Elbeblick 5</p>
                <p>25524 Itzehoe</p>
                <p><a href="mailto:info&#64;susanneschauer.de">info&#64;susanneschauer.de</a></p>   
            </mat-expansion-panel>

        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header (menuToggle)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>