/* Variables */
$textColor: #367714;
$bg: #b9dca4;


/* If you’re using ViewEncapsulation.Emulated (default), you can use ::ng-deep
   to pierce through to the Material component’s element: */
:host ::ng-deep mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 0 4.6rem;
  margin: 0 auto;
}

xng-breadcrumb {
  padding: 0 4.6rem;
}


app-footer {
  flex-shrink: 0;
}

/* Side Nav */
.mat-sidenav {
  background-color: $bg;
  width: 100%;  
  padding: 1.2rem 1.2rem 2rem 2rem;
}

.sidenav-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 48px;
  width: auto;
  flex-shrink: 0;
}

.btn-back {
  color: $textColor;
}

.sidenav-header-row button[mat-icon-button] {
  margin-left: auto;
}

.side-title {
  margin: 1.4rem 1.2rem 1.4rem 0; // top margin to separate from row above
  color: $textColor;
  font-family: 'Lato Black', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
}


.side-nav {
  background-color: $bg;
}

mat-panel-title {
  color: $textColor;
}

mat-expansion-panel {
  background-color: #b9dca4;
  color:#367714;
  font-family: 'Lato Black', sans-serif;
}

mat-expansion-panel-header {
  background-color: #b9dca4;
  font-weight: bold;
}

/* Hover color */
mat-expansion-panel-header:hover {
  background-color: #a4c08b !important;
}

/* Mobile submenu underline effect (side-nav version) */
::ng-deep .mat-expansion-panel-body li .lato-menu-text {
  position: relative;
  display: inline-block;
}

::ng-deep .mat-expansion-panel-body li .lato-menu-text::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.05em;
    height: 2px;
    background: darken(#367714, 4%);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.8s ease;
    border-radius: 2px;
    width: 100%;
  }

::ng-deep .mat-expansion-panel-body li:hover .lato-menu-text::after,
::ng-deep .mat-expansion-panel-body li:focus-within .lato-menu-text::after {
  transform: scaleX(1);
}

/* Default mat-button color */
.mat-mdc-button:not(:disabled) {
  color: #367714;
}