/* Variables */
$textColor: #367714;
$bg: #b9dca4;


/* If you’re using ViewEncapsulation.Emulated (default), you can use ::ng-deep
   to pierce through to the Material component’s element: */
:host ::ng-deep mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 0 4.6rem;
  margin: 0 auto;
}

xng-breadcrumb {
  padding: 0 4.6rem;
}


app-footer {
  flex-shrink: 0;
}

/* Side Nav */
.mat-sidenav {
  background-color: $bg;
  width: 100%;  
  padding: 1.2rem 2rem 2rem 2rem;
}

.sidenav-header-row {
  padding-left: 22px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 48px;
  width: auto;
  flex-shrink: 0;
  cursor: pointer;
}

.btn-back {
  color: $textColor;
}

.sidenav-header-row button[mat-icon-button] {
  margin-left: auto;
}

.side-title {
  margin: 1.4rem 1.2rem 1.4rem 0; // top margin to separate from row above
  color: $textColor;
  font-size: 36px;
  font-family: 'Lato Black', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 24px;
  text-align: left;
}


.side-nav {
  background-color: $bg;
}

mat-panel-title {
  color: $textColor;
}

mat-expansion-panel {
  background-color: #b9dca4;
  color:#367714;
  font-family: 'Lato Black', sans-serif;
}

mat-expansion-panel-header {
  background-color: #b9dca4;
  font-family: 'Lato Black', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Hover color */
mat-expansion-panel-header:hover {
  background-color: #a4c08b !important;
}

/* Mobile submenu underline effect (side-nav version) */
::ng-deep .mat-expansion-panel-body p[mat-button] {
  display: block;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  color: #367714;
}

::ng-deep .mat-expansion-panel-body p[mat-button] .lato-menu-text {
  position: relative;
  display: inline-block;
}

::ng-deep .mat-expansion-panel-body p[mat-button] .lato-menu-text::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.15em;
  height: 2px;
  background: #305f12; // or your color
  border-radius: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.8s ease;
  width: 100%;
}

::ng-deep .mat-expansion-panel-body p[mat-button]:hover .lato-menu-text::after,
::ng-deep .mat-expansion-panel-body p[mat-button]:focus-visible .lato-menu-text::after {
  transform: scaleX(1);
}

.lato-menu-text {
  font-size: 18px;
}

/* Default mat-button color */
.mat-mdc-button:not(:disabled) {
  color: #367714;
}