<mat-toolbar color="primary">

    <span id="menuTitle">Stillbegleitung IZ</span>

    <a mat-button class="top-menu-item" routerLink="/" routerLinkActive="active-link">HOME</a>
    <a mat-button class="top-menu-item" routerLink="/stillbegleitung" routerLinkActive="active-link">STILLBEGLEITUNG</a>
    <a mat-button class="top-menu-item" routerLink="/beikost" routerLinkActive="active-link">BABYGELEITETE BEIKOST</a>
    <a mat-button class="top-menu-item" routerLink="/trageberatung" routerLinkActive="active-link">TRAGEBERATUNG</a>   

    <span class="example-spacer"></span>

    <button mat-icon-button id="menuIcon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>


<!--
toDo:
- responsive navbar
- footer

<mat-sidenav-container+>
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
-->